*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  color: blue;
  background-color: white;

}

.container{
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
}

/* header */
.header,
.footer{
  background-color: blue;
  padding: 1rem 0;
  font-family: 'Nunito', sans-serif;
}

/* card */
.card-image{
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card{
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card:hover{
  transform: translateY(-5px);
}

.card-body{
  text-align: center;
  background-color: white;
  color: blue;

}

.card-title{
  font-family: 'Nunito', sans-serif;
  color: blue;
  font-size: 1.8rem;

}

.card-text{
  font-size: 1rem;
}

.btn-warning{
  background-color: yellow;
  border: none;
  color: white;
  transition: all 0.3s ease;
}

.btn-warning:hover{
  background-color: chocolate;
  transition: scale(1.05);
}

/* show */
.book-details{
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.book-details h2{
  font-family: 'Nunito', sans-serif;
  color: blue;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;

}

.book-details h5{
  color: blue;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-align: center;

}

.book-details p{
  margin-bottom: 0.5rem;
}

.book-details .lead{
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 2rem;
}

.book-details img{
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.book-details .btn-warning{
  background-color: yellow;
  border: none;
  color: white;
  transition: all 0.3s ease;

}

.book-details .btn-warning:hover{
  background-color: chocolate;
  transform: scale(1.05);
}

.back-icon{
  color: blue;
  text-decoration: none;
  transition: all 0.3s ease;
}

.back-icon:hover{
  color: blueviolet;
  transform: scale(1.1);
}

.book-details img{
  object-fit: contain;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.scroll-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: blue;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease;
}

.scroll-to-top:hover{
  color: blueviolet;
  transform: scale(1.1);
}

/* hero */
.hero-banner{
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

.hero-text{
  z-index: 2;
  padding: 1rem;
  font-family: 'Nunito', sans-serif;

}

.footer{
  background-color: blue;
  padding: 1.5rem 0;
  color: darkblue;
  font-family: 'Nunito', sans-serif;
}


